body {
  font-family: sans-serif;
  /* max-width: 900px;*/
  box-sizing: border-box;
  background-color: white;
  margin: 0 auto;
}

.navbar-section {
  width: 100%;
  background-color: white;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

.icons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

img {
  width: 450px;
  height: 450px;
  border-radius: 20px;
}

.footer-img img {
  width: 100px;
  height: 100px;
}

.footer-img {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  max-width: 300px;
  margin: 10px 0;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
}
